@font-face {
  font-family: frn;
  src: local(Franie), url(../fonts/frn/frn-400.woff) format("woff"), url(../fonts/frn/frn-400.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: hlv_now;
  src: local(Helvetica Now Display Regular), local(HelveticaNowDisplay-Regular), url(../fonts/hlv_now/hlv_now-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: hlv_now;
  src: local(Helvetica Now Display Bold), local(HelveticaNowDisplay-Bold), url(../fonts/hlv_now/hlv_now-700.woff2) format("woff2");
  font-weight: 700;
}
.radius-16 {
  border-radius: 1.6rem;
}

.radius-40 {
  border-radius: 4rem;
}

.card {
  overflow: hidden;
  transition: opacity 0.24s linear, transform 0.32s cubic-bezier(0.66, 0.48, 0.34, 0.95);
}
.card.bg-white, .card .bg-white {
  background-color: #ffffff;
}
.card.bg-white-20, .card .bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.card.anim {
  opacity: 0;
  transform: translate3d(0, 60rem, 0) rotate3d(100, 100, -50, 30deg);
}

.soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.76s ease, fill 0.64s ease;
}
.soc-icon:hover {
  transition: background 0.32s ease, fill 0.24s ease;
}

/* =========================================================================
 *  Typography
 * ========================================================================= */
.huge-title,
.main-card-title,
.main-caption,
.small-caption {
  font-family: "frn", sans-serif;
  font-feature-settings: "ss01" on;
  font-weight: 44;
  text-transform: uppercase;
}

.huge-title {
  font-size: 8rem;
  font-weight: 44;
  line-height: 8.4rem;
  letter-spacing: -0.32rem;
}
.huge-title i.ampersand,
.huge-title i.question {
  position: relative;
  color: transparent;
}
.huge-title i.ampersand::before,
.huge-title i.question::before {
  position: absolute;
}
.huge-title i.ampersand {
  padding-right: 2.4rem;
}
.huge-title i.ampersand::before {
  display: block;
  width: 7.7rem;
  height: 8.4rem;
  transform: translateY(0.2rem);
}
.huge-title i.ampersand.black::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.4155 50.8271C47.7729 55.1777 43.8413 57.353 38.6206 57.353C35.5591 57.353 33.0132 56.5957 30.9829 55.0811C28.9526 53.5664 27.9375 51.085 27.9375 47.6367C27.9375 43.8018 29.3071 40.6274 32.0464 38.1138C34.7856 35.6001 38.8945 33.3281 44.373 31.2979C45.8877 30.75 48.3853 29.8638 51.8657 28.6392C55.3784 27.3823 58.73 26.1577 61.9204 24.9653C65.1108 23.7407 67.8018 22.5967 69.9932 21.5332C73.248 19.9541 75.7617 18.3105 77.5342 16.6025C79.3066 14.8623 80.1929 12.832 80.1929 10.5117C80.1929 8.93262 79.7578 7.49854 78.8877 6.20947C78.0498 4.88818 76.8735 3.85693 75.3589 3.11572C73.8765 2.37451 72.2329 2.00391 70.4282 2.00391C68.688 2.00391 67.6245 2.29395 67.2378 2.87402C67.9146 3.26074 68.4302 3.79248 68.7847 4.46924C69.1392 5.146 69.3164 5.87109 69.3164 6.64453C69.3164 7.64355 69.0103 8.57812 68.3979 9.44824C67.7856 10.3184 66.98 11.0112 65.981 11.5269C64.9819 12.0425 63.9185 12.3003 62.7905 12.3003C61.4692 12.3003 60.3896 11.9297 59.5518 11.1885C58.7461 10.4473 58.3433 9.43213 58.3433 8.14307C58.3433 6.78955 58.7944 5.58105 59.6968 4.51758C60.6313 3.42188 61.8237 2.55176 63.2739 1.90723C65.4653 0.972656 67.8823 0.505371 70.5249 0.505371C74.3276 0.505371 77.3408 1.43994 79.5645 3.30908C81.7881 5.17822 82.8999 8.01416 82.8999 11.8169C82.8999 15.1685 81.9331 18.1333 79.9995 20.7114C78.0981 23.2896 75.0366 25.6421 70.8149 27.769C67.8501 29.2192 62.5811 31.3301 55.0078 34.1016C59.8096 38.1299 62.2104 43.0767 62.2104 48.9419C62.2104 53.3247 60.8892 57.3853 58.2466 61.1235C55.6362 64.8618 51.8335 67.8428 46.8384 70.0664C41.8755 72.29 36.0103 73.4019 29.2427 73.4019C23.4419 73.4019 18.3984 72.564 14.1123 70.8882C9.82617 69.2124 6.52295 66.8115 4.20264 63.6855C1.88232 60.5596 0.722168 56.8374 0.722168 52.519C0.722168 48.6519 1.64062 45.0264 3.47754 41.6426C5.31445 38.2588 7.84424 35.3584 11.0669 32.9414C14.2896 30.5244 17.9312 28.752 21.9917 27.624C19.7681 26.4316 18.0601 24.8525 16.8677 22.8867C15.6753 20.8887 15.0791 18.7778 15.0791 16.5542C15.0791 13.686 16.0459 11.1885 17.9795 9.06152C19.9453 6.93457 22.4429 5.30713 25.4722 4.1792C28.5015 3.05127 31.563 2.4873 34.6567 2.4873C37.106 2.4873 39.249 2.85791 41.0859 3.59912C42.9229 4.30811 44.3408 5.30713 45.3398 6.59619C46.3389 7.88525 46.8384 9.38379 46.8384 11.0918C46.8384 12.7031 46.4194 14.0728 45.5815 15.2007C44.7759 16.2964 43.7285 17.1343 42.4395 17.7144C41.1504 18.2622 39.813 18.5361 38.4272 18.5361L38.6206 16.7476C40.4575 16.7476 41.9399 16.2642 43.0679 15.2974C44.1958 14.3306 44.7598 13.0093 44.7598 11.3335C44.7598 9.14209 43.8574 7.38574 42.0527 6.06445C40.248 4.74316 37.96 4.08252 35.1885 4.08252C32.5137 4.08252 30.1128 4.72705 27.9858 6.01611C25.8589 7.27295 24.1992 9.0293 23.0068 11.2852C21.8145 13.5088 21.2183 16.0225 21.2183 18.8262C21.2183 21.8877 21.9434 24.627 23.3936 27.0439C25.7461 26.6572 27.8247 26.4639 29.6294 26.4639C32.0142 26.4639 33.2065 27.1567 33.2065 28.5425C33.2065 29.2515 32.9004 29.7832 32.2881 30.1377C31.6758 30.46 30.9507 30.6211 30.1128 30.6211C28.4692 30.6211 26.1973 29.896 23.2969 28.4458C20.2998 29.3159 17.6572 30.7178 15.3691 32.6514C13.0811 34.585 11.2925 36.873 10.0034 39.5156C8.74658 42.1582 8.11816 44.9619 8.11816 47.9268C8.11816 51.7939 9.18164 55.0972 11.3086 57.8364C13.4355 60.5435 16.3682 62.5898 20.1064 63.9756C23.8447 65.3613 28.1309 66.0542 32.9648 66.0542C38.0889 66.0542 42.7134 65.2969 46.8384 63.7822C50.9956 62.2676 54.2666 60.1084 56.6514 57.3047C59.0361 54.501 60.2285 51.2783 60.2285 47.6367C60.2285 45.2197 59.6646 42.8511 58.5366 40.5308C57.4409 38.2104 55.7812 36.2446 53.5576 34.6333C46.79 37.1147 42.6006 38.6777 40.9893 39.3223C38.0244 40.4824 35.543 41.8198 33.5449 43.3345C31.5791 44.8169 30.5962 46.7505 30.5962 49.1353C30.5962 51.1655 31.4019 52.7769 33.0132 53.9692C34.6567 55.1616 36.6548 55.7578 39.0073 55.7578C41.6177 55.7578 43.7446 55.1133 45.3882 53.8242C47.0317 52.5352 48.2725 51.23 49.1104 49.9087L50.4155 50.8271Z' fill='%23000004'/%3E%3C/svg%3E%0A");
}
.huge-title i.ampersand.white::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.4155 50.8271C47.7729 55.1777 43.8413 57.353 38.6206 57.353C35.5591 57.353 33.0132 56.5957 30.9829 55.0811C28.9526 53.5664 27.9375 51.085 27.9375 47.6367C27.9375 43.8018 29.3071 40.6274 32.0464 38.1138C34.7856 35.6001 38.8945 33.3281 44.373 31.2979C45.8877 30.75 48.3853 29.8638 51.8657 28.6392C55.3784 27.3823 58.73 26.1577 61.9204 24.9653C65.1108 23.7407 67.8018 22.5967 69.9932 21.5332C73.248 19.9541 75.7617 18.3105 77.5342 16.6025C79.3066 14.8623 80.1929 12.832 80.1929 10.5117C80.1929 8.93262 79.7578 7.49854 78.8877 6.20947C78.0498 4.88818 76.8735 3.85693 75.3589 3.11572C73.8765 2.37451 72.2329 2.00391 70.4282 2.00391C68.688 2.00391 67.6245 2.29395 67.2378 2.87402C67.9146 3.26074 68.4302 3.79248 68.7847 4.46924C69.1392 5.146 69.3164 5.87109 69.3164 6.64453C69.3164 7.64355 69.0103 8.57812 68.3979 9.44824C67.7856 10.3184 66.98 11.0112 65.981 11.5269C64.9819 12.0425 63.9185 12.3003 62.7905 12.3003C61.4692 12.3003 60.3896 11.9297 59.5518 11.1885C58.7461 10.4473 58.3433 9.43213 58.3433 8.14307C58.3433 6.78955 58.7944 5.58105 59.6968 4.51758C60.6313 3.42188 61.8237 2.55176 63.2739 1.90723C65.4653 0.972656 67.8823 0.505371 70.5249 0.505371C74.3276 0.505371 77.3408 1.43994 79.5645 3.30908C81.7881 5.17822 82.8999 8.01416 82.8999 11.8169C82.8999 15.1685 81.9331 18.1333 79.9995 20.7114C78.0981 23.2896 75.0366 25.6421 70.8149 27.769C67.8501 29.2192 62.5811 31.3301 55.0078 34.1016C59.8096 38.1299 62.2104 43.0767 62.2104 48.9419C62.2104 53.3247 60.8892 57.3853 58.2466 61.1235C55.6362 64.8618 51.8335 67.8428 46.8384 70.0664C41.8755 72.29 36.0103 73.4019 29.2427 73.4019C23.4419 73.4019 18.3984 72.564 14.1123 70.8882C9.82617 69.2124 6.52295 66.8115 4.20264 63.6855C1.88232 60.5596 0.722168 56.8374 0.722168 52.519C0.722168 48.6519 1.64062 45.0264 3.47754 41.6426C5.31445 38.2588 7.84424 35.3584 11.0669 32.9414C14.2896 30.5244 17.9312 28.752 21.9917 27.624C19.7681 26.4316 18.0601 24.8525 16.8677 22.8867C15.6753 20.8887 15.0791 18.7778 15.0791 16.5542C15.0791 13.686 16.0459 11.1885 17.9795 9.06152C19.9453 6.93457 22.4429 5.30713 25.4722 4.1792C28.5015 3.05127 31.563 2.4873 34.6567 2.4873C37.106 2.4873 39.249 2.85791 41.0859 3.59912C42.9229 4.30811 44.3408 5.30713 45.3398 6.59619C46.3389 7.88525 46.8384 9.38379 46.8384 11.0918C46.8384 12.7031 46.4194 14.0728 45.5815 15.2007C44.7759 16.2964 43.7285 17.1343 42.4395 17.7144C41.1504 18.2622 39.813 18.5361 38.4272 18.5361L38.6206 16.7476C40.4575 16.7476 41.9399 16.2642 43.0679 15.2974C44.1958 14.3306 44.7598 13.0093 44.7598 11.3335C44.7598 9.14209 43.8574 7.38574 42.0527 6.06445C40.248 4.74316 37.96 4.08252 35.1885 4.08252C32.5137 4.08252 30.1128 4.72705 27.9858 6.01611C25.8589 7.27295 24.1992 9.0293 23.0068 11.2852C21.8145 13.5088 21.2183 16.0225 21.2183 18.8262C21.2183 21.8877 21.9434 24.627 23.3936 27.0439C25.7461 26.6572 27.8247 26.4639 29.6294 26.4639C32.0142 26.4639 33.2065 27.1567 33.2065 28.5425C33.2065 29.2515 32.9004 29.7832 32.2881 30.1377C31.6758 30.46 30.9507 30.6211 30.1128 30.6211C28.4692 30.6211 26.1973 29.896 23.2969 28.4458C20.2998 29.3159 17.6572 30.7178 15.3691 32.6514C13.0811 34.585 11.2925 36.873 10.0034 39.5156C8.74658 42.1582 8.11816 44.9619 8.11816 47.9268C8.11816 51.7939 9.18164 55.0972 11.3086 57.8364C13.4355 60.5435 16.3682 62.5898 20.1064 63.9756C23.8447 65.3613 28.1309 66.0542 32.9648 66.0542C38.0889 66.0542 42.7134 65.2969 46.8384 63.7822C50.9956 62.2676 54.2666 60.1084 56.6514 57.3047C59.0361 54.501 60.2285 51.2783 60.2285 47.6367C60.2285 45.2197 59.6646 42.8511 58.5366 40.5308C57.4409 38.2104 55.7812 36.2446 53.5576 34.6333C46.79 37.1147 42.6006 38.6777 40.9893 39.3223C38.0244 40.4824 35.543 41.8198 33.5449 43.3345C31.5791 44.8169 30.5962 46.7505 30.5962 49.1353C30.5962 51.1655 31.4019 52.7769 33.0132 53.9692C34.6567 55.1616 36.6548 55.7578 39.0073 55.7578C41.6177 55.7578 43.7446 55.1133 45.3882 53.8242C47.0317 52.5352 48.2725 51.23 49.1104 49.9087L50.4155 50.8271Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.huge-title i.ampersand.orange::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.4155 50.8271C47.7729 55.1777 43.8413 57.353 38.6206 57.353C35.5591 57.353 33.0132 56.5957 30.9829 55.0811C28.9526 53.5664 27.9375 51.085 27.9375 47.6367C27.9375 43.8018 29.3071 40.6274 32.0464 38.1138C34.7856 35.6001 38.8945 33.3281 44.373 31.2979C45.8877 30.75 48.3853 29.8638 51.8657 28.6392C55.3784 27.3823 58.73 26.1577 61.9204 24.9653C65.1108 23.7407 67.8018 22.5967 69.9932 21.5332C73.248 19.9541 75.7617 18.3105 77.5342 16.6025C79.3066 14.8623 80.1929 12.832 80.1929 10.5117C80.1929 8.93262 79.7578 7.49854 78.8877 6.20947C78.0498 4.88818 76.8735 3.85693 75.3589 3.11572C73.8765 2.37451 72.2329 2.00391 70.4282 2.00391C68.688 2.00391 67.6245 2.29395 67.2378 2.87402C67.9146 3.26074 68.4302 3.79248 68.7847 4.46924C69.1392 5.146 69.3164 5.87109 69.3164 6.64453C69.3164 7.64355 69.0103 8.57812 68.3979 9.44824C67.7856 10.3184 66.98 11.0112 65.981 11.5269C64.9819 12.0425 63.9185 12.3003 62.7905 12.3003C61.4692 12.3003 60.3896 11.9297 59.5518 11.1885C58.7461 10.4473 58.3433 9.43213 58.3433 8.14307C58.3433 6.78955 58.7944 5.58105 59.6968 4.51758C60.6313 3.42188 61.8237 2.55176 63.2739 1.90723C65.4653 0.972656 67.8823 0.505371 70.5249 0.505371C74.3276 0.505371 77.3408 1.43994 79.5645 3.30908C81.7881 5.17822 82.8999 8.01416 82.8999 11.8169C82.8999 15.1685 81.9331 18.1333 79.9995 20.7114C78.0981 23.2896 75.0366 25.6421 70.8149 27.769C67.8501 29.2192 62.5811 31.3301 55.0078 34.1016C59.8096 38.1299 62.2104 43.0767 62.2104 48.9419C62.2104 53.3247 60.8892 57.3853 58.2466 61.1235C55.6362 64.8618 51.8335 67.8428 46.8384 70.0664C41.8755 72.29 36.0103 73.4019 29.2427 73.4019C23.4419 73.4019 18.3984 72.564 14.1123 70.8882C9.82617 69.2124 6.52295 66.8115 4.20264 63.6855C1.88232 60.5596 0.722168 56.8374 0.722168 52.519C0.722168 48.6519 1.64062 45.0264 3.47754 41.6426C5.31445 38.2588 7.84424 35.3584 11.0669 32.9414C14.2896 30.5244 17.9312 28.752 21.9917 27.624C19.7681 26.4316 18.0601 24.8525 16.8677 22.8867C15.6753 20.8887 15.0791 18.7778 15.0791 16.5542C15.0791 13.686 16.0459 11.1885 17.9795 9.06152C19.9453 6.93457 22.4429 5.30713 25.4722 4.1792C28.5015 3.05127 31.563 2.4873 34.6567 2.4873C37.106 2.4873 39.249 2.85791 41.0859 3.59912C42.9229 4.30811 44.3408 5.30713 45.3398 6.59619C46.3389 7.88525 46.8384 9.38379 46.8384 11.0918C46.8384 12.7031 46.4194 14.0728 45.5815 15.2007C44.7759 16.2964 43.7285 17.1343 42.4395 17.7144C41.1504 18.2622 39.813 18.5361 38.4272 18.5361L38.6206 16.7476C40.4575 16.7476 41.9399 16.2642 43.0679 15.2974C44.1958 14.3306 44.7598 13.0093 44.7598 11.3335C44.7598 9.14209 43.8574 7.38574 42.0527 6.06445C40.248 4.74316 37.96 4.08252 35.1885 4.08252C32.5137 4.08252 30.1128 4.72705 27.9858 6.01611C25.8589 7.27295 24.1992 9.0293 23.0068 11.2852C21.8145 13.5088 21.2183 16.0225 21.2183 18.8262C21.2183 21.8877 21.9434 24.627 23.3936 27.0439C25.7461 26.6572 27.8247 26.4639 29.6294 26.4639C32.0142 26.4639 33.2065 27.1567 33.2065 28.5425C33.2065 29.2515 32.9004 29.7832 32.2881 30.1377C31.6758 30.46 30.9507 30.6211 30.1128 30.6211C28.4692 30.6211 26.1973 29.896 23.2969 28.4458C20.2998 29.3159 17.6572 30.7178 15.3691 32.6514C13.0811 34.585 11.2925 36.873 10.0034 39.5156C8.74658 42.1582 8.11816 44.9619 8.11816 47.9268C8.11816 51.7939 9.18164 55.0972 11.3086 57.8364C13.4355 60.5435 16.3682 62.5898 20.1064 63.9756C23.8447 65.3613 28.1309 66.0542 32.9648 66.0542C38.0889 66.0542 42.7134 65.2969 46.8384 63.7822C50.9956 62.2676 54.2666 60.1084 56.6514 57.3047C59.0361 54.501 60.2285 51.2783 60.2285 47.6367C60.2285 45.2197 59.6646 42.8511 58.5366 40.5308C57.4409 38.2104 55.7812 36.2446 53.5576 34.6333C46.79 37.1147 42.6006 38.6777 40.9893 39.3223C38.0244 40.4824 35.543 41.8198 33.5449 43.3345C31.5791 44.8169 30.5962 46.7505 30.5962 49.1353C30.5962 51.1655 31.4019 52.7769 33.0132 53.9692C34.6567 55.1616 36.6548 55.7578 39.0073 55.7578C41.6177 55.7578 43.7446 55.1133 45.3882 53.8242C47.0317 52.5352 48.2725 51.23 49.1104 49.9087L50.4155 50.8271Z' fill='%23F74F07'/%3E%3C/svg%3E%0A");
}
.huge-title i.question {
  padding-left: 1rem;
}
.huge-title i.question::before {
  display: inline-block;
  width: 3.2rem;
  height: 8.4rem;
  transform: translateY(0.3rem);
}
.huge-title i.question.black::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.30072 37.6868L20.766 26.4818C23.6207 24.0258 25.6575 21.6383 26.8765 19.3195C28.1074 16.981 28.332 14.2657 27.5503 11.1737C26.6614 7.65782 24.8375 5.14834 22.0785 3.64522C19.3156 2.12641 16.1476 1.80825 12.5746 2.69074C9.55733 3.43595 7.09381 5.00327 5.184 7.39268C3.2742 9.7821 2.68438 12.4208 3.41455 15.3088C3.84709 17.0197 4.76797 18.3931 6.17719 19.4291C7.58244 20.4495 9.12672 20.7518 10.81 20.336C11.2706 20.2223 11.8502 19.9791 12.5489 19.6064C13.2437 19.218 13.5514 18.8668 13.4721 18.5529C13.4165 18.3332 13.1883 18.1978 12.7873 18.1467C12.3824 18.08 12.0052 18.0231 11.6559 17.9759C10.1156 17.3558 9.17086 16.3551 8.82165 14.9739C8.55181 13.9066 8.74049 12.8845 9.3877 11.9075C10.0468 10.9109 10.9242 10.2773 12.02 10.0067C13.4174 9.66152 14.6084 9.83429 15.5929 10.525C16.5893 11.1961 17.264 12.2301 17.6172 13.627C18.145 15.7145 17.7319 17.5175 16.378 19.0359C15.0241 20.5542 13.2514 21.5841 11.0599 22.1253C8.86847 22.6666 6.84384 22.2328 4.98606 20.8239C3.1243 19.3994 1.91565 17.5884 1.36009 15.391C0.764847 13.0367 0.959609 10.8374 1.94438 8.79315C2.94502 6.74502 4.43791 5.00888 6.42303 3.58473C8.42007 2.14097 10.562 1.13669 12.8487 0.5719C15.0243 0.0345625 17.186 -0.124127 19.3337 0.0958312C21.4933 0.296172 23.5338 0.859455 25.4552 1.78568C27.3765 2.7119 29.0199 3.97359 30.3854 5.57073C31.7628 7.14825 32.7273 9.02787 33.2789 11.2096C34.5329 16.1694 34.1513 20.3326 32.1342 23.699C30.1291 27.0458 26.7046 30.6515 21.8608 34.5159L12.8086 41.7545C10.2358 43.7907 8.34993 45.5405 7.15085 47.004C5.95177 48.4674 5.61612 50.2429 6.1439 52.3305C6.47327 53.6332 7.21951 54.6162 8.38264 55.2795C9.55767 55.9231 10.828 56.0763 12.1937 55.7389C13.3689 55.4487 14.2363 55.076 14.7962 54.6209C15.356 54.1658 16.3664 53.2242 17.8275 51.7961L19.4531 52.9204C17.309 55.7179 14.8157 57.4677 11.9731 58.1697C9.44819 58.7934 7.20521 58.4635 5.24419 57.1802C3.29905 55.893 2.00704 53.9859 1.36814 51.4589C0.891952 49.5754 0.85244 47.8175 1.24961 46.1852C1.66266 44.549 2.39726 43.0502 3.45341 41.6888C4.5056 40.3116 5.78803 38.9776 7.30072 37.6868ZM6.64766 74.8435C5.2502 75.1887 3.90243 74.9629 2.60434 74.1662C1.32213 73.3656 0.50841 72.2826 0.16317 70.917C-0.182069 69.5515 0.0205403 68.2174 0.771 66.9148C1.52146 65.6122 2.60336 64.7863 4.0167 64.4372C5.4618 64.0803 6.86515 64.2923 8.22676 65.0733C9.60028 65.8347 10.4616 66.906 10.8109 68.2872C11.1601 69.6684 10.9039 71.0241 10.0422 72.3542C9.19253 73.6647 8.061 74.4944 6.64766 74.8435Z' fill='%23000004'/%3E%3C/svg%3E%0A");
}
.huge-title i.question.white::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.30072 37.6868L20.766 26.4818C23.6207 24.0258 25.6575 21.6383 26.8765 19.3195C28.1074 16.981 28.332 14.2657 27.5503 11.1737C26.6614 7.65782 24.8375 5.14834 22.0785 3.64522C19.3156 2.12641 16.1476 1.80825 12.5746 2.69074C9.55733 3.43595 7.09381 5.00327 5.184 7.39268C3.2742 9.7821 2.68438 12.4208 3.41455 15.3088C3.84709 17.0197 4.76797 18.3931 6.17719 19.4291C7.58244 20.4495 9.12672 20.7518 10.81 20.336C11.2706 20.2223 11.8502 19.9791 12.5489 19.6064C13.2437 19.218 13.5514 18.8668 13.4721 18.5529C13.4165 18.3332 13.1883 18.1978 12.7873 18.1467C12.3824 18.08 12.0052 18.0231 11.6559 17.9759C10.1156 17.3558 9.17086 16.3551 8.82165 14.9739C8.55181 13.9066 8.74049 12.8845 9.3877 11.9075C10.0468 10.9109 10.9242 10.2773 12.02 10.0067C13.4174 9.66152 14.6084 9.83429 15.5929 10.525C16.5893 11.1961 17.264 12.2301 17.6172 13.627C18.145 15.7145 17.7319 17.5175 16.378 19.0359C15.0241 20.5542 13.2514 21.5841 11.0599 22.1253C8.86847 22.6666 6.84384 22.2328 4.98606 20.8239C3.1243 19.3994 1.91565 17.5884 1.36009 15.391C0.764847 13.0367 0.959609 10.8374 1.94438 8.79315C2.94502 6.74502 4.43791 5.00888 6.42303 3.58473C8.42007 2.14097 10.562 1.13669 12.8487 0.5719C15.0243 0.0345625 17.186 -0.124127 19.3337 0.0958312C21.4933 0.296172 23.5338 0.859455 25.4552 1.78568C27.3765 2.7119 29.0199 3.97359 30.3854 5.57073C31.7628 7.14825 32.7273 9.02787 33.2789 11.2096C34.5329 16.1694 34.1513 20.3326 32.1342 23.699C30.1291 27.0458 26.7046 30.6515 21.8608 34.5159L12.8086 41.7545C10.2358 43.7907 8.34993 45.5405 7.15085 47.004C5.95177 48.4674 5.61612 50.2429 6.1439 52.3305C6.47327 53.6332 7.21951 54.6162 8.38264 55.2795C9.55767 55.9231 10.828 56.0763 12.1937 55.7389C13.3689 55.4487 14.2363 55.076 14.7962 54.6209C15.356 54.1658 16.3664 53.2242 17.8275 51.7961L19.4531 52.9204C17.309 55.7179 14.8157 57.4677 11.9731 58.1697C9.44819 58.7934 7.20521 58.4635 5.24419 57.1802C3.29905 55.893 2.00704 53.9859 1.36814 51.4589C0.891952 49.5754 0.85244 47.8175 1.24961 46.1852C1.66266 44.549 2.39726 43.0502 3.45341 41.6888C4.5056 40.3116 5.78803 38.9776 7.30072 37.6868ZM6.64766 74.8435C5.2502 75.1887 3.90243 74.9629 2.60434 74.1662C1.32213 73.3656 0.50841 72.2826 0.16317 70.917C-0.182069 69.5515 0.0205403 68.2174 0.771 66.9148C1.52146 65.6122 2.60336 64.7863 4.0167 64.4372C5.4618 64.0803 6.86515 64.2923 8.22676 65.0733C9.60028 65.8347 10.4616 66.906 10.8109 68.2872C11.1601 69.6684 10.9039 71.0241 10.0422 72.3542C9.19253 73.6647 8.061 74.4944 6.64766 74.8435Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.huge-title i.question.orange::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.30072 37.6868L20.766 26.4818C23.6207 24.0258 25.6575 21.6383 26.8765 19.3195C28.1074 16.981 28.332 14.2657 27.5503 11.1737C26.6614 7.65782 24.8375 5.14834 22.0785 3.64522C19.3156 2.12641 16.1476 1.80825 12.5746 2.69074C9.55733 3.43595 7.09381 5.00327 5.184 7.39268C3.2742 9.7821 2.68438 12.4208 3.41455 15.3088C3.84709 17.0197 4.76797 18.3931 6.17719 19.4291C7.58244 20.4495 9.12672 20.7518 10.81 20.336C11.2706 20.2223 11.8502 19.9791 12.5489 19.6064C13.2437 19.218 13.5514 18.8668 13.4721 18.5529C13.4165 18.3332 13.1883 18.1978 12.7873 18.1467C12.3824 18.08 12.0052 18.0231 11.6559 17.9759C10.1156 17.3558 9.17086 16.3551 8.82165 14.9739C8.55181 13.9066 8.74049 12.8845 9.3877 11.9075C10.0468 10.9109 10.9242 10.2773 12.02 10.0067C13.4174 9.66152 14.6084 9.83429 15.5929 10.525C16.5893 11.1961 17.264 12.2301 17.6172 13.627C18.145 15.7145 17.7319 17.5175 16.378 19.0359C15.0241 20.5542 13.2514 21.5841 11.0599 22.1253C8.86847 22.6666 6.84384 22.2328 4.98606 20.8239C3.1243 19.3994 1.91565 17.5884 1.36009 15.391C0.764847 13.0367 0.959609 10.8374 1.94438 8.79315C2.94502 6.74502 4.43791 5.00888 6.42303 3.58473C8.42007 2.14097 10.562 1.13669 12.8487 0.5719C15.0243 0.0345625 17.186 -0.124127 19.3337 0.0958312C21.4933 0.296172 23.5338 0.859455 25.4552 1.78568C27.3765 2.7119 29.0199 3.97359 30.3854 5.57073C31.7628 7.14825 32.7273 9.02787 33.2789 11.2096C34.5329 16.1694 34.1513 20.3326 32.1342 23.699C30.1291 27.0458 26.7046 30.6515 21.8608 34.5159L12.8086 41.7545C10.2358 43.7907 8.34993 45.5405 7.15085 47.004C5.95177 48.4674 5.61612 50.2429 6.1439 52.3305C6.47327 53.6332 7.21951 54.6162 8.38264 55.2795C9.55767 55.9231 10.828 56.0763 12.1937 55.7389C13.3689 55.4487 14.2363 55.076 14.7962 54.6209C15.356 54.1658 16.3664 53.2242 17.8275 51.7961L19.4531 52.9204C17.309 55.7179 14.8157 57.4677 11.9731 58.1697C9.44819 58.7934 7.20521 58.4635 5.24419 57.1802C3.29905 55.893 2.00704 53.9859 1.36814 51.4589C0.891952 49.5754 0.85244 47.8175 1.24961 46.1852C1.66266 44.549 2.39726 43.0502 3.45341 41.6888C4.5056 40.3116 5.78803 38.9776 7.30072 37.6868ZM6.64766 74.8435C5.2502 75.1887 3.90243 74.9629 2.60434 74.1662C1.32213 73.3656 0.50841 72.2826 0.16317 70.917C-0.182069 69.5515 0.0205403 68.2174 0.771 66.9148C1.52146 65.6122 2.60336 64.7863 4.0167 64.4372C5.4618 64.0803 6.86515 64.2923 8.22676 65.0733C9.60028 65.8347 10.4616 66.906 10.8109 68.2872C11.1601 69.6684 10.9039 71.0241 10.0422 72.3542C9.19253 73.6647 8.061 74.4944 6.64766 74.8435Z' fill='%23F74F07'/%3E%3C/svg%3E%0A");
}

.main-card-title {
  font-size: 3.6rem;
  line-height: 4.2rem;
  letter-spacing: -0.072rem;
}

.plain-text {
  padding-bottom: 2rem;
  font-feature-settings: "ss06" on, "ss04" on, "ss07" on, "ss02" on, "liga" off;
  font-family: "hlv_now", "Helvetica Now", SF Pro, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.013rem;
}

.main-caption {
  font-size: 1.9rem;
  line-height: 3.2rem;
}

.small-caption {
  font-feature-settings: "ss01" on;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.script-caption {
  font-family: Georgia, serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -0.016rem;
}

/* =========================================================================
 *  Buttons
 * ========================================================================= */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  min-width: 1.4rem;
  height: 4.8rem;
  padding: 0 2rem 0.1rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: border 0.76s ease, background 0.76s ease, color 0.48s ease;
  color: #000004;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  transition: border 0.24s ease, background 0.24s ease, color 0.18s ease;
}
.button span {
  font-size: 1.9rem;
  font-style: normal;
  line-height: 3.2rem;
  font-weight: 500;
  font-family: "frn", sans-serif;
  font-feature-settings: "ss01" on;
}
.button.primary {
  background-color: #000004;
  color: white;
}
.button.primary:hover {
  background-color: #333336;
}
.button.primary.orange {
  background-color: #F74F07;
}
.button.primary.orange:hover {
  background-color: #FA8643;
}
.button.secondary {
  background-color: rgba(0, 0, 0, 0.12);
  color: #000004;
}
.button.secondary:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* =========================================================================
 *  Cases cards stack
 * ========================================================================= */
.cases-wrapper {
  display: flex;
  gap: 0.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cases-wrapper::-webkit-scrollbar {
  width: 0;
}
.cases-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
}
.cases-wrapper.vertical {
  flex-direction: column;
}

/*  Case item
 * ========================================================================= */
.case-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  /*  Case item - hover effects
   * ========================================================================= */
}
.case-item a {
  width: 100%;
  color: #000004;
  text-decoration: none;
}
.case-item .service-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex: 1 0 0;
  align-self: stretch;
  padding: 1.3rem 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}
.case-item .service-info i.dot {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.case-item .title-section {
  padding: 0.7rem 1.6rem 2.5rem;
}
.case-item .label-watch {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  height: 3.2rem;
  padding: 0 0.8rem;
  border-radius: 0.8rem;
  background: transparent;
  transition: background 0.32s;
}
.case-item .label-watch i {
  transition: stroke 0.24s;
  stroke: #000004;
}
.case-item .label-watch span {
  padding-top: 1px;
  transition: opacity 0.24s;
  opacity: 0;
  color: #ffffff;
}
.case-item .case-cover-image {
  position: relative;
  visibility: hidden;
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  transition: visibility 0.42s, height 0.42s ease;
}
.case-item .case-cover-image img {
  position: absolute;
  top: 0;
  transform: translate3d(0, -50%, 0);
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.42s ease;
}
.case-item:hover .label-watch {
  background-color: #F74F07;
}
.case-item:hover .label-watch i {
  stroke: #ffffff;
}
.case-item:hover .label-watch span {
  opacity: 1;
}
.case-item:hover .case-cover-image {
  visibility: visible;
  height: 32rem;
}
.case-item:hover .case-cover-image img {
  transform: translate3d(0, calc(-50% + 16rem), 0);
}

/* =========================================================================
 *  Responsive
 * ========================================================================= */
@media screen and (max-width: 1365px) {
  .huge-title {
    font-size: 5.6rem;
    line-height: 6rem;
    letter-spacing: -0.224rem;
  }
  .huge-title i.ampersand {
    padding-right: 1.6rem;
  }
  .huge-title i.ampersand::before {
    width: 5.5rem;
    height: 6rem;
    transform: translateY(0.3rem);
  }
  .huge-title i.question {
    padding-left: 0.7rem;
  }
  .huge-title i.question::before {
    width: 2.2rem;
    height: 6rem;
    transform: translateY(0.2rem);
  }
}
@media screen and (max-width: 1023px) {
  .main-card-title {
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.052rem;
  }
  /*  Cases cards stack
   * ========================================================================= */
  .cases-wrapper {
    align-self: stretch;
    flex-wrap: wrap;
  }
  .cases-wrapper.vertical {
    flex-direction: row;
  }
  .case-item {
    flex: 0.5 0 0;
    min-width: 32rem;
  }
}
@media screen and (max-width: 679px), screen and (max-width: 959px) and (orientation: landscape) {
  .radius-40 {
    border-radius: 3.2rem;
  }
  .huge-title {
    font-size: 3.8rem;
    line-height: 4.2rem;
    letter-spacing: -0.152rem;
  }
  .huge-title i.ampersand {
    padding-right: 0.8rem;
  }
  .huge-title i.ampersand::before {
    width: 3.5rem;
    height: 4.2rem;
    transform: translateY(0.1rem);
  }
  .huge-title i.question {
    padding-left: 0.4rem;
  }
  .huge-title i.question::before {
    width: 1.43rem;
    height: 4.2rem;
    transform: translateY(0);
  }
  .plain-text {
    padding-bottom: 1.6rem;
    font-size: 1.7rem;
    line-height: 2.6rem;
    letter-spacing: 0.017rem;
  }
  .case-item {
    flex: 1 0 0;
  }
}
html, body {
  height: 100%;
  min-height: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #000004;
}

body {
  font-size: 1.6rem;
  font-family: "hlv_now", "Helvetica Now", SF Pro, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss02" on, "ss08" on, "ss07" on, "ss06" on, "ss01" on, "ss04" on;
}
body.fixed {
  overflow: hidden;
}

.main-container {
  width: 100%;
  padding: 11.2rem 1.6rem 0;
  transition: opacity 0.24s linear, transform 0.32s ease;
}

.container-start {
  display: flex;
}

/* =========================================================================
 *  Header
 * ========================================================================= */
.header {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  right: 1.6rem;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  height: 8rem;
  padding: 1.6rem;
  overflow: hidden;
  border-radius: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transition: transform 0.32s ease, background 0.24s linear, height 0.32s ease, padding 0.32s ease;
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  /*  Mobile controls
   * ========================================================================= */
  /*  Nav section
   * ========================================================================= */
  /*  Contact button
   * ========================================================================= */
}
.header.fixed {
  position: fixed;
  border: 0.05rem solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-10rem);
}
.header.header--case {
  background-color: rgba(0, 0, 0, 0.6);
}
.header .nav-toggle {
  display: none;
  color: #ffffff;
  width: 15.2rem;
}
.header .nav-toggle .icon-menu-toggle {
  display: block;
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  transition: opacity 0.24s ease;
}
.header .nav-toggle .icon-menu-toggle::before, .header .nav-toggle .icon-menu-toggle::after {
  content: "";
  position: relative;
  left: 0.4rem;
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  background-color: #ffffff;
  transition: transform 0.48s ease;
}
.header .nav-toggle .icon-menu-toggle::before {
  top: 1rem;
}
.header .nav-toggle .icon-menu-toggle::after {
  top: 1.8rem;
}
.header .nav-toggle.cross .icon-menu-toggle::before {
  transform: translate3d(0, 0.4rem, 0) rotate3d(0, 0, 1, 135deg);
}
.header .nav-toggle.cross .icon-menu-toggle::after {
  transform: translate3d(0, -0.6rem, 0) rotate3d(0, 0, 1, -135deg);
}
.header .contact-button-mobile {
  width: 4.8rem;
  height: 4.8rem;
  align-items: center;
  justify-content: center;
  display: none;
}
.header .nav-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-section .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.header .nav-section .main-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  padding: 0 1.6rem;
  border-radius: 4.8rem;
  border: 0.05rem solid transparent;
  color: #ffffff;
  font-family: "frn", sans-serif;
  font-feature-settings: "ss01" on;
  font-size: 1.9rem;
  font-weight: 44;
  line-height: 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header .nav-section .main-nav .nav-item:hover {
  transition: border 0.24s;
  border-color: rgba(255, 255, 255, 0.2);
}
.header .contact-button {
  width: 15.2rem;
}
.header .contact-button .button {
  width: 100%;
}
.header .anim-nav {
  transition-delay: 0;
  transition: border 0.76s ease, opacity 0.32s ease, transform 0.4s ease;
}

/* =========================================================================
 *  Footer
 * ========================================================================= */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  padding: 1.6rem;
  color: #ffffff;
}
footer .socials-section {
  display: flex;
  gap: 0.4rem;
}
footer .socials-section .soc-icon {
  background-color: rgba(255, 255, 255, 0.2);
}
footer .socials-section .soc-icon svg {
  fill: #ffffff;
}
footer .socials-section .soc-icon:hover {
  background-color: #ffffff;
}
footer .socials-section .soc-icon:hover svg {
  fill: #000004;
}
footer .credits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 4.8rem;
}
footer .policy {
  width: 30.8rem;
}
footer .policy a {
  color: #ffffff;
  width: 100%;
}
footer .policy a:hover {
  background-color: #ffffff;
  color: #000004;
}

/* =========================================================================
 *  Containers
 * ========================================================================= */
.container-start.width-1200 {
  width: 100%;
  max-width: 120rem;
  margin: auto;
}
.container-start.width-720 {
  width: 100%;
  max-width: 72rem;
  margin: auto;
}

.text-page {
  flex-direction: column;
  gap: 0.2rem;
}
.text-page .title-section {
  padding: 7.2rem 3.7rem 2.4rem;
}
.text-page .title-section .script-caption {
  display: block;
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
.text-page .title-section .huge-title {
  color: #ffffff;
}
.text-page .text-card {
  padding: 5.6rem 4rem 3.8rem;
}
.text-page .text-card .main-caption {
  padding-bottom: 0.8rem;
}
.text-page .last-card {
  padding: 3.6rem 4rem 7.2rem;
  color: #ffffff;
}

/* =========================================================================
 *  Responsive
 * ========================================================================= */
@media screen and (max-width: 1231px) {
  .header.fixed {
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    background-color: rgba(255, 255, 255, 0.2);
    flex-wrap: wrap;
  }
  .header .nav-toggle {
    display: flex;
  }
  .header .nav-section {
    flex: 1 0 70%;
    order: 4;
    opacity: 0;
  }
  .header.opened {
    background-color: #333336;
    height: 14.4rem;
  }
  .header.opened .nav-section {
    opacity: 1;
  }
  .main-container {
    width: 100%;
    padding: 11.2rem 1.6rem 0;
  }
  .main-container.slided {
    opacity: 0.4;
  }
  footer {
    justify-content: center;
    gap: 1.6rem;
    flex-wrap: wrap;
  }
  footer .credits {
    order: 3;
    flex: auto;
    width: 100%;
  }
}
@media screen and (max-width: 679px), screen and (max-width: 959px) and (orientation: landscape) {
  .main-container {
    padding-top: 9.6rem;
    padding-bottom: 1.6rem;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .main-container.slided {
    transform: translate3d(0, 41.6rem, 0);
  }
  .container-start.width-1200, .container-start.width-720 {
    max-width: 63.2rem;
  }
  .text-page .title-section {
    padding: 0.8rem 1.6rem 2.6rem;
  }
  .text-page .title-section .script-caption {
    padding-bottom: 0.6rem;
  }
  .text-page .text-card {
    padding: 2.4rem 1.6rem 1.6rem;
  }
  .text-page .last-card {
    padding: 2.4rem 1.6rem 0;
    color: #ffffff;
  }
}
@media screen and (max-width: 679px) and (orientation: portrait) {
  .header {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 6.4rem;
    padding: 0.8rem 1.6rem;
    background-color: #000004;
    /*  Nav section
        * ========================================================================= */
  }
  .header.fixed {
    top: auto;
    bottom: 0.8rem;
    transform: translateY(0) !important;
  }
  .header .nav-toggle,
  .header .contact-button-mobile {
    position: absolute;
    top: 0.8rem;
    transition: top 0.24s ease, left 0.24s ease, right 0.24s ease, bottom 0.24s ease, opacity 0.18s linear;
  }
  .header .nav-toggle {
    left: 0.8rem;
    width: 4.8rem;
    padding: 0;
    background-color: transparent !important;
  }
  .header .nav-toggle i {
    display: flex;
  }
  .header .nav-toggle span {
    display: none;
  }
  .header .contact-button-mobile {
    display: flex;
    right: 0.8rem;
  }
  .header .nav-section {
    width: 100%;
    visibility: hidden;
  }
  .header .nav-section .main-nav {
    width: 100%;
    flex-direction: column;
  }
  .header .nav-section .main-nav .nav-item {
    flex-direction: column;
    width: 100%;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.052rem;
  }
  .header .nav-section .main-nav .nav-item:hover {
    transition: border 0.24s;
    border-color: rgba(255, 255, 255, 0.2);
  }
  .header .contact-button {
    opacity: 0;
    width: 100%;
    order: 5;
  }
  .header .anim-nav {
    opacity: 0;
    transform: translate3d(0, -4rem, 0);
  }
  .header.opened {
    height: 48rem;
    padding: 1.6rem;
  }
  .header.opened .nav-toggle {
    top: 1.6rem;
    left: 1.6rem;
  }
  .header.opened .nav-section {
    visibility: visible;
  }
  .header.opened .contact-button-mobile {
    opacity: 0;
    top: 24rem;
  }
  .header.opened .contact-button {
    opacity: 1;
  }
  footer {
    padding-bottom: 8rem;
  }
}
.homepage-main-container {
  align-items: flex-start;
  gap: 0.8rem;
  height: calc(100vh - 19.2rem);
  overflow: hidden;
}
.homepage-main-container .container-column {
  width: calc(50% - 0.4rem);
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homepage-main-container .container-column::-webkit-scrollbar {
  width: 0;
}
.homepage-main-container .container-column::-webkit-scrollbar-thumb {
  background: transparent;
}
.homepage-main-container .about-text {
  order: 1;
}
.homepage-main-container .about-text .home-title {
  padding: 7.2rem 3.7rem 5.7rem;
}
.homepage-main-container .about-text .text-section {
  padding: 0 4rem 3.6rem;
}
.homepage-main-container .cases-list {
  order: 2;
}

/* =========================================================================
 *  Responsive
 * ========================================================================= */
@media screen and (min-width: 1640px) {
  .homepage-main-container .about-text {
    width: calc(46% - 0.2rem);
  }
  .homepage-main-container .cases-list {
    width: 64%;
    flex-wrap: wrap;
  }
  .homepage-main-container .cases-wrapper {
    align-self: stretch;
    flex-wrap: wrap;
  }
  .homepage-main-container .cases-wrapper.vertical {
    flex-direction: row;
  }
  .homepage-main-container .case-item {
    flex: 0.5 0 0;
    min-width: 40rem;
  }
}
@media screen and (max-width: 1023px) {
  .homepage-main-container {
    flex-direction: column;
  }
  .homepage-main-container .container-column {
    height: calc(50% - 0.4rem);
    width: 100%;
  }
  .homepage-main-container .about-text {
    order: 2;
  }
  .homepage-main-container .cases-list {
    order: 1;
  }
}
@media screen and (max-width: 679px), screen and (max-width: 959px) and (orientation: landscape) {
  .homepage-main-container {
    height: auto;
  }
  .homepage-main-container .about-text .home-title {
    padding: 4.8rem 1.4rem 3.8rem;
  }
  .homepage-main-container .about-text .text-section {
    padding: 0 1.6rem 3.6rem;
  }
}
.case__main-container {
  flex-direction: column;
  gap: 8rem;
}
.case__main-container .case__hero,
.case__main-container .case__body {
  display: flex;
  gap: 0.2rem;
  align-self: stretch;
  flex-wrap: wrap;
}
.case__main-container .case__hero {
  padding-top: 6.4rem;
}
.case__main-container .case__body {
  padding-bottom: 8rem;
}
.case__main-container .case-card {
  display: flex;
  flex-direction: column;
}
.case__main-container .case-card.square {
  aspect-ratio: 1;
}
.case__main-container .case-card.normal {
  flex: 1 0 45%;
  max-width: calc(50% - 0.1rem);
}
.case__main-container .case-card.big {
  flex: 1 0 100%;
}
.case__main-container .case-card--text,
.case__main-container .case-card--black-card,
.case__main-container .case-card--cta {
  justify-content: center;
  padding: 4rem;
}
.case__main-container .case-card--text .huge-title,
.case__main-container .case-card--text .main-card-title,
.case__main-container .case-card--black-card .huge-title,
.case__main-container .case-card--black-card .main-card-title,
.case__main-container .case-card--cta .huge-title,
.case__main-container .case-card--cta .main-card-title {
  padding-bottom: 2.5rem;
}
.case__main-container .case-card--text .plain-text:last-child,
.case__main-container .case-card--black-card .plain-text:last-child,
.case__main-container .case-card--cta .plain-text:last-child {
  padding-bottom: 0;
}
.case__main-container .case-card--cta,
.case__main-container .case-card--text {
  color: #000004;
}
.case__main-container .case-card--cta .script-caption,
.case__main-container .case-card--text .script-caption {
  color: rgba(0, 0, 0, 0.6);
}
.case__main-container .case-card--black-card {
  color: #ffffff;
}
.case__main-container .case-card--black-card .script-caption {
  color: rgba(255, 255, 255, 0.6);
}
.case__main-container .case-card--cta .service-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}
.case__main-container .case-card--cta .service-info i.dot {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.case__main-container .case-card--cta .main-info {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.2rem 0 3.5rem;
}
.case__main-container .case-card--cta .buttons-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.case__main-container .case-card--cta .buttons-bar .button {
  flex: 1 0 20rem;
}
.case__main-container .case-card--cover {
  background-size: cover;
  background-position: center;
}
.case__main-container .case-card--title {
  width: 100%;
  margin: 0.8rem 0;
  padding: 4rem;
  border-top: 0.2rem solid #ffffff;
  border-bottom: 0.2rem solid #ffffff;
  color: #ffffff;
}
.case__main-container .case-card--title.align-left {
  text-align: left;
}
.case__main-container .case-card--title.align-right {
  text-align: right;
}
.case__main-container .case-card--title.align-center {
  text-align: center;
}
.case__main-container .case-card--photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.case__main-container .case-card--photo img {
  align-self: stretch;
  display: block;
  width: 100%;
  height: auto;
}
.case__main-container .case-card__combo-3,
.case__main-container .case-card__combo-4 {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.case__main-container .case-card__combo--photo {
  flex: 1 0 0;
}
.case__main-container .case-card__combo--photo img {
  display: block;
  width: 100%;
  height: auto;
}

/* =========================================================================
 *  Responsive
 * ========================================================================= */
@media screen and (max-width: 1231px) {
  .case__main-container {
    gap: 4rem;
  }
  .case__main-container .case__hero {
    padding-top: 0;
  }
  .case__main-container .case__body {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 959px) {
  .case__main-container .case-card--text,
  .case__main-container .case-card--black-card,
  .case__main-container .case-card--cta {
    padding: 1.6rem;
  }
  .case__main-container .case-card--text .huge-title,
  .case__main-container .case-card--text .main-card-title,
  .case__main-container .case-card--black-card .huge-title,
  .case__main-container .case-card--black-card .main-card-title,
  .case__main-container .case-card--cta .huge-title,
  .case__main-container .case-card--cta .main-card-title {
    padding-bottom: 1.8rem;
  }
  .case__main-container .case-card--text,
  .case__main-container .case-card--black-card {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .case__main-container .case-card--cta .main-info {
    padding: 2.4rem 0 2.8rem;
  }
  .case__main-container .case-card--cta .service-info {
    padding-top: 1.2rem;
  }
  .case__main-container .case-card__combo-3 {
    flex-direction: column;
  }
  .case__main-container .case-card__combo-3 .case-card__combo--photo {
    flex: auto;
  }
  .case__main-container .case-card__combo-4 {
    flex-wrap: wrap;
  }
  .case__main-container .case-card__combo-4 .case-card__combo--photo {
    flex: 1 0 45%;
  }
}
@media screen and (max-width: 679px), screen and (max-width: 959px) and (orientation: landscape) {
  .case__main-container .case__hero,
  .case__main-container .case__body {
    flex-direction: column;
  }
  .case__main-container .case-card.normal {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .case__main-container .case-card--title {
    padding: 2.4rem 1.6rem;
  }
}
@media screen and (max-width: 959px) and (orientation: landscape) {
  .case__main-container .case__hero .case-card--cta {
    order: 1;
  }
  .case__main-container .case__hero .case-card--cover {
    order: 2;
  }
  .case__main-container .case-card.normal {
    min-height: 22rem;
  }
}
@media screen and (max-width: 679px) and (orientation: portrait) {
  .case__main-container .case__hero .case-card--cta {
    order: 2;
  }
  .case__main-container .case__hero .case-card--cover {
    order: 1;
  }
  .case__main-container .case-card.normal {
    min-height: calc(100vw - 4.8rem);
  }
}
