
$font-franie: "frn", sans-serif;
$font-helvetica: "hlv_now", "Helvetica Now", SF Pro, Helvetica, Arial, sans-serif;

$white: #ffffff;
$black-s: #000004;

$black40: rgba(0, 0, 0, .4);
$black60: rgba(0, 0, 0, .6);
$white20: rgba(255, 255, 255, .2);
$white20-s: #333336;

$orange-30: #FCA969;
$orange-40: #FA8643;
$orange-50: #F74F07;
$orange-60: #D43505;
$orange-70: #B12003;
